.story-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tgui--link_color, #2481cc);
}

.story-card__time {
  color: var(--tgui--hint_color, #999);
  white-space: nowrap;
}
